@import "../helpers/_variables";


body {
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
    -webkit-overflow-scrolling:touch;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    /* 以下两个属性目前并未支持，写在这里为了减少风险 */
    -o-user-select: none;
    user-select: none;
}



#app {
    text-align: center;
}


.container {
    padding: 10px 3px;
    
    .el-main {
        overflow: hidden;
    }
}


/* 行 col 表格 */
.el-col {
    text-align: left;
    border-radius: 4px;
    
    h2 {
        margin: 20px 0px;
    }
    
    
    .el-table .cell {
        text-overflow: unset;

        img {
            width: 100%;
        }
        
        .el-button{
            margin: 3px 1px;
        }
        
        font-size: 14px;
        line-height: 18px;
    }
    

    .echarts {
        width: 80%;
    }
    
}



/* 表单 */
.el-form-item {
    width: 320px;
    // margin-bottom:15px;
    
    .el-form-item__label {
        width: 80px;
    }
    
    .el-form-item__content {
        width: 200px;
        
        .el-rate {
            padding: 10px 20px;
        }
    }

    .el-autocomplete  {
        width: 200px;
    }
    
    .el-range-editor.el-input__inner {
        width: 250px;
    }
    
    .el-date-editor--datetimerange{
        width: initial !important;
    }
    
}

.el-cascader-menu {
    height: 540px;

    .el-cascader-menu__item {
        padding: 4px 20px;
        height: 28px;
    }
}

/* 表单 inline */
.el-form--inline  {
    .el-form-item {
        .el-form-item__content {
            margin-left: 0px;
            vertical-align: middle; 
        }
    }
}

.inline-form-short {
    display: inline-block;

    .el-form {
        .el-form-item {
            width: 150px;

            .el-form-item__content {
                width: 70px !important;
            }
            .el-input {
                width: 60px;
            }
        }

        .el-form-item--small.el-form-item {
            margin-bottom: 5px;
        }

        .el-form-item-long {
            width: 550px;

            .el-form-item__content {
                width: 430px !important;
            }

            .el-input {
                width: 200px;
            }
        }
    }
    
}





/* 表单内元素 单行内有1个输入框 */
.form-full-line {
    width: 100% !important;
    .el-form-item{
        width:inherit;
    }
    .el-form-item__content {
        width: 90% !important;
    }
    .el-input {
        width: 600px;
    }
    .el-input-number{
        width: 600px;
    }
    .el-textarea {
        width: 600px;
    }
    .el-date-editor--datetimerange{
        width: 100% !important;
    }
}



/* 表单内元素 单行内有多个内容 */
.form-full-line-multi {
    width: 100% !important;
   
    .el-form-item__content {
        width: 100% !important;
    }
    .el-input {
        width: 600px;
        margin-right: 10px;
    }
    .el-textarea {
        width: 600px;
        margin-right: 10px;
    }
}

/* 表单内元素 单行内有1个内容 短输入框 */
.form-full-line-short {
    width: 100%;
    
    .el-form-item__content {
        width: 80%;
    }
    .el-input {
        width: 90%;
        margin-right: 10px;
    }
    .el-textarea {
        width: 90%;
        margin-right: 10px;
    }
}

/* 表单内元素 一行内有可以放多个el-form-item内容 短输入框  */
.form-short-line {
    width: 150px;

    .el-form-item__content {
        width: 98%;
    }
    .el-input {
        width: 98%;
        margin-right: 10px;
    }
    .el-textarea {
        width: 98%;
        margin-right: 10px;
    }
}

.form-short-line2 {
    width: 60% !important;
}

.checkbox-group-city {
    .el-checkbox {
        margin-left: 30px;
    }
}


/* 分页 */
.el-pagination {
    margin: 20px 0;
    text-align: center;
}


/* 对话框 */
.el-dialog {
    width: 480px;
    
    .el-dialog__body {
        padding-top: 5px;
        
        img {
            width: 100%;
        }

        h5 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
.dialog-small {
    .el-dialog {
        width: 350px;
    }
}
.dialog-large {
    .el-dialog {
        width: 800px;
    }
}



/* tabs 标签页 */

.el-tabs__item {
    display: block;
    float: left;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
}
.el-tabs__active-bar{
    display: none;
}

.el-tabs--top .el-tabs__item.is-top:nth-child(2){
    padding-left:8px ;
}


.el-tabs__item.is-active {
    border: 1px solid #409eff;
}




/* CMS管理后台的样式 */



/*  预览demo push页面  */
.preview-demo-push {
    div {
        float: left;
        img {
            width: 62px;
        }
    }
    
    p {
        margin: 8px 0px 8px 10px;
    }
    
    .title {
        font-size: 18px;
        font-weight: bold;
    }
}


/*  上传组件  */
.avatar-uploader {
    .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .el-upload-list {
        width: 400px;
    }
    .el-icon-plus {
        font-size: 28px;
        color: #8c939d;
        width: 180px;
        height: 180px;
        line-height: 180px;
        text-align: center;
    }
    .el-icon-document {
        height: auto;
    }
    .el-upload--picture-card {
        height: 180px;
    }
    div {
        width: 200px;
    }
    img {
        width: 100%;
        display: block;
    }
}



/* 搜索 */
.su-checkbox-group{
    width: 400px;
    /deep/.el-form-item__content{
            width: 400px;
    }   
}


.unpass-ul{
    padding: 0;
    .unpass-li{
        list-style: none;
        line-height: 2;
        span{
            cursor: pointer;
            color: #337ab7;
        }
        
    }
    
}


/* 正文部分 */
.news-content{
    max-height:550px;
    overflow-y:auto;
    border:1px solid #e4e7ed;
    border-radius:4px;
    padding: 10px;
}

.city-title {
    font-size: 14px;
    padding-left: 30px;
}











/* CMS管理后台的样式 END */












/* 机构媒体后台管理的样式 */

.income-overview {
    
    margin-bottom: 30px;
    text-align: center;
    
    p {
        margin-top: 0px;
        font-size: 14px;
    }
    h4 {
        font-size: 38px;
        padding: 0;
        margin: 0;
    }
}

.settle-overview {
    text-align: center;

    p {
        margin-top: 0px;
        font-size: 14px;
    }
    h4 {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    
    .el-card__body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}




/* 机构媒体后台管理的样式 END */










/* 自媒体管理后台管理的样式 */





/* 自媒体管理后台管理的样式 END*/
