.fr {
    float: right;
}

.fl {
    float: left;
}

.text-l {
    text-align: left;
}

.text-c {
    text-align: center;
}


.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}

.mb-40{
    margin-bottom: 40px;
}
.mb-60{
    margin-bottom: 60px;
}

.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-60{
    margin-left: 60px;
}


